<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
     
      <%= link_to "ELBIKES", root_path , id: "logo" %>
       <div class="navicon">|||</div>
   <div class="desktop">   
   <nav class="menu">
          <li><%= link_to "Головна", root_path %></li>  
           <li><%= link_to "Магазин", shop_path %></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Меню<b class="caret"></b></a>
        <ul id="menu1" class="dropdown-menu">
          <li><%= link_to "Тест-драйв", our_advantages_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Контакти", contact_path %></li> 
          <li class="divider"></li>
          <li><%= link_to "Мій кошик", cart_path %></li>    
        </ul>
      </li>
    </ul>



              
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Авторизація<b class="caret"></b></a>
        <ul id="menu1" class="dropdown-menu">
 <% if current_model.nil? %>
    <li>
    <%= link_to model_session_path do %>
      <i class="glyphicon glyphicon-user"></i> Увійти
      <%end%>
      </li>
      <% else %> 
      <li>
      <%= link_to destroy_model_session_path, method: :delete do %>
      <i class="glyphicon glyphicon-log-in"></i> Вийти
  <%end%>
      </li>
       <% end %>
          <li class="divider"></li>
         <li> <%= link_to "Зареєструватися", new_model_registration_path %></li>
        </ul>
      </li>
    </ul>
     </ul>







     
      </nav>
      </div>
    </div>
  </div>
</header>